#_dash-app-content > div > div {
    border-bottom-style: dotted;
    border-bottom-width: 2px;
    border-bottom-color: black;
    padding: 10px 0;
}

.rc-slider-dot.rc-slider-dot-active, .rc-slider-handle, .rc-slider-handle:focus, .rc-slider-handle:hover, .rc-slider-handle.rc-slider-handle-click-focused {
    border-color: red;
}

.rc-slider-track {
    background-color: red;
}

#indicators_pie_div {
    display: flex;
}

#scatter-slider-label {
    font-size: 10pt;
    padding: 5px;
}

#directions_div {
    height:auto;
    width:auto;
    margin:10px 0;
    display:inline-flex;
    align-items: center;
}

#dates_div {
    height:auto;
    width:auto;
    margin:10px 0;
    display:inline-flex;
    align-items: center;
}

#directions_label {
    margin:0 10px 0 0;
}

#dates_label {
    margin: 0 10px 0 0;
}

#date_picker {
    display: flex;
    width: auto;
}

.DateInput_input {
    font-size: 15px;
}

#abi_switch {
    display: inline-flex;
}

#all_table_div {
    display: flex;
    flex-direction: column;
    height: auto;
}